[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
ipykernel = "*"
pipfile-requirements = "*"

[packages]
boto3 = "*"
requests = "*"
pyusb = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
